html 
    head 
        title=pageTitle 
    body 
        if name !== undefined
            h1=`WELCOME ${name.username}`
            button(type="submit")
                a(href='/logout')='logout'
            
        else 
            h1="WELCOM"
            button(type="submit")
                a(href='/login')='login'
            button(type="submit")
                a(href='/register')='register'
            